# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ambiente
.env
venv/
.venv/

# Banco de dados local
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db